<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/imgs/news.jpg"></ion-img>

    <ion-card-header>
      <ion-card-subtitle>Sobre o App:</ion-card-subtitle>
      <ion-card-title>Queiroz News</ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="text-align: justify; text-justify: inter-word;">
      Aplicativo criado para exibir notícias envolvendo pessoas com o sobrenome Queiroz e visualizar sua atual localização.
      <br><br> 
      Versão 1.9.1 
      <br><br> 
      Autor: Matheus Queiroz 
      <br><br> 
      <a href="https://www.facebook.com/matheus.antiqueira.58/" target="_blank">
        <ion-icon name="logo-facebook" class="icone-redes-sociais"></ion-icon>
      </a> 
      <a href="https://twitter.com/queirozant" target="_blank">
        <ion-icon name="logo-twitter" class="icone-redes-sociais"></ion-icon>
      </a>
      <a href="https://www.instagram.com/antiqrz/?hl=pt-br" target="_blank">
        <ion-icon name="logo-instagram" class="icone-redes-sociais"></ion-icon>
      </a>
    </ion-card-content>
  </ion-card>
</ion-content>
